.button1, .button2, .button3 {
    display: block;
    background-color: pink;
    border: none;
    text-decoration: none;
}
.button1 {
    position: relative;
    float: left;
}
.button2 {
    position: relative;
    margin-left: 7%;
}
.button3 {
    position: relative;
    margin-left: 13.5%;
    margin-top: -1.5%;
}
ul {
    list-style-type: none;
}
.active {
    text-decoration: none;
}
